#table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#my-table {
  width: 100%;
  border-collapse: collapse;
}

#my-table th, #my-table td {
  border: 1px solid black;
  padding: 8px;
}

caption {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #my-table {
    font-size: 12px;
  }
  
  #my-table td, #my-table th {
    padding: 5px;
  }
}
