#table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-table {
  width: 100%;
  max-width: 800px;
}

#table-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
}

#show-more,
#show-less {
  padding: 8px 16px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

#show-more:hover,
#show-less:hover {
  background-color: #3e8e41;
}

#show-more {
  display: none;
}

@media (max-width: 768px) {
  #table-buttons {
    flex-direction: column;
    align-items: center;
  }
}
